@gs {}

.container {
  gs: container;
}

@gs-media 0 {
  .custom-1 {
    background-color: plum;
    & .custom-3 {
      color: red;
    }
  }
}

@gs-media 1 {
  .custom-1 {
    background-color: palegreen;
  }
}

@gs-media 2 {
  .custom-1 {
    background-color: deeppink;
  }
}

@gs-media 3 {
  .custom-1 {
    background-color: orangered;
  }
}

@gs-media 4 {
  .custom-1 {
    background-color: dodgerblue;
  }
}

@gs-media 5 {
  .custom-1 {
    background-color: lightcoral;
  }
}

@gs-media 6 {
  .custom-1 {
    background-color: gold;
  }
}

@gs-media 0 {
  .custom-2 {
    background-color: plum;
    color: white;
  }
}

@gs-media 2 {
  .custom-2 {
    background-color: deeppink;
    color: silver;
  }
}
