@s-grid {}

.container {
  s-grid: container;
}

.row {
  s-grid: row;
}

@s-grid-media 3 {
  .bloc-3-2 {
    s-grid: bloc 2;
  }

  .bloc-3-2-bis {
    s-grid: bloc 2;
  }
}

@s-grid-media 5 {
  .bloc-5-3 {
    s-grid: bloc 3;
  }

}
