@structure {
  unit: 20.5rem;
  gutter: 1.5rem;
  padding: 1.5rem;
  max: 8;
  min: 2;
  display: float;
  align: center;
}

.container {
  structure: container;
}

.row {
  structure: row;
}

.bloc-3-2 {
  structure: bloc 3-2;
}

.bloc-5-3 {
  structure: bloc 5-3;
}

.bloc-3-2-bis {
  structure: bloc 3-2;
}
