@sstm-grid {}

.container {
  sstm-grid: container;
}

.row {
  sstm-grid: row;
}

@sstm-grid-media 3 {
  .bloc-3-2 {
    sstm-grid: bloc 2;
  }

  .bloc-3-2-bis {
    sstm-grid: bloc 2;
  }
}

@sstm-grid-media 5 {
  .bloc-5-3 {
    sstm-grid: bloc 3;
  }

}
