@gs {}

.container {
  gs: container;
}

.row {
  gs: row;
}

@gs-media 3 {
  .bloc-3-2-6 {
    gs: bloc 2-6;
  }

  .bloc-3-3-5 {
    gs: bloc 3-5;
  }

  .bloc-3-3-5-bis {
    gs: bloc 3-5;
  }
}

@gs-media 2 {
  .bloc-2-6-1 {
    gs: bloc 6-1;
  }
}