@sstm-grid {}

.container {
  sstm-grid: container;
}

.row {
  sstm-grid: row;
}

@sstm-grid-media 3 {
  .bloc-3-2-6 {
    sstm-grid: bloc 2-6;
  }

  .bloc-3-3-5 {
    sstm-grid: bloc 3-5;
  }

  .bloc-3-3-5-bis {
    sstm-grid: bloc 3-5;
  }
}

@sstm-grid-media 2 {
  .bloc-2-6-1 {
    sstm-grid: bloc 6-1;
  }
}