@s-grid {}

.container {
  s-grid: container;
}

.row {
  s-grid: row;
}

@s-grid-media 3 {
  .bloc-3-2-6 {
    s-grid: bloc 2-6;
  }

  .bloc-3-3-5 {
    s-grid: bloc 3-5;
  }

  .bloc-3-3-5-bis {
    s-grid: bloc 3-5;
  }
}

@s-grid-media 2 {
  .bloc-2-6-1 {
    s-grid: bloc 6-1;
  }
}