@structure {
  unit: 18rem;
  gutter: 1.5rem;
  padding: 1.5rem;
  max: 8;
  min: 2;
  display: float;
  align: center;
}

.container {
  structure: container;
}

.row {
  structure: row;
}

.bloc-one-third {
  structure: fraction 1/3;
}

.bloc-three-fourth {
  structure: fraction 3/4;
}
