@s-grid {}

.container {
  s-grid: container;
}

@s-grid-media 2 {
  .columns-2-4 {
    s-grid: columns 4;
  }

  .columns-2-4-bis {
    s-grid: columns 4;
  }
}

@s-grid-media 3 {
  .columns-3-8 {
    s-grid: columns 8;
  }
}
