@gs {}

.container {
  gs: container;
}


@gs-media 2 {
  .columns-2-2-4 {
    gs: columns 2-4;
  }

  .columns-2-2-4-bis {
    gs: columns 2-4;
  }
}

@gs-media 4 {
  .columns-4-2-2 {
    gs: columns 2-2;
  }
}