@s-grid {}

.container {
  s-grid: container;
}


@s-grid-media 2 {
  .columns-2-2-4 {
    s-grid: columns 2-4;
  }

  .columns-2-2-4-bis {
    s-grid: columns 2-4;
  }
}

@s-grid-media 4 {
  .columns-4-2-2 {
    s-grid: columns 2-2;
  }
}