@sstm-grid {}

.container {
  sstm-grid: container;
}


@sstm-grid-media 2 {
  .columns-2-2-4 {
    sstm-grid: columns 2-4;
  }

  .columns-2-2-4-bis {
    sstm-grid: columns 2-4;
  }
}

@sstm-grid-media 4 {
  .columns-4-2-2 {
    sstm-grid: columns 2-2;
  }
}