.row {
  clear: both;
  margin-right: -1.5rem
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.bloc {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  float: left;
  width: 16.5rem;
}

@structure {
  unit: 18rem;
  gutter: 1.5rem;
  padding: 1.5rem;
  max: 8;
  min: 2;
  display: float;
  align: center;
}

.container {
  structure-element: container;
}

.right-3 {
  structure-right: 3;
}

.right-5 {
  structure-right: 5;
}
