@structure {
  unit: 20.5rem;
  gutter: 1.5rem;
  padding: 1.5rem;
  max: 8;
  min: 2;
  display: flex;
  align: center;
}

.container {
  structure: container;
}

.row {
  structure: row;
}

.bloc-2-6 {
  structure: bloc 2-6;
}

.bloc-2-1 {
  structure: bloc 2-1;
}

.blob-2-1-3 {
  structure: blob 2-1/3;
}

.fraction-4-3 {
  structure: fraction 4/3;
}

.show-2 {
  structure: show 2;
}

.hide-4 {
  structure: hide 4;
}

.right-4 {
  structure: right 4;
}
