@structure {
  unit: 18;
  gutter: 1.5;
  padding: 1.5;
  max: 8;
  min: 2;
  display: "float";
  align: "center";
}
.container {
  structure-element: container;
}

.columns-2-2-4 {
  structure-columns: 2-2-4;
}

.columns-4-2-2 {
  structure-columns: 4-2-2;
}

.columns-2-2-4-bis {
  structure-columns: 2-2-4;
}