/*
      PostCSS-structure
-------------------------------

https://github.com/francoisromain/postcss-structure
*/

@sstm-grid {
  unit: var(--structure-unit);
  gutter: var(--structure-gutter);
  padding: var(--structure-padding);
  max: var(--structure-max);
  min: var(--structure-min);
  display: var(--structure-display);
  align: var(--structure-align);
}

.container {
  sstm-grid: container;
}

.row {
  sstm-grid: row;
}

.bloc-one-half {
  sstm-grid: fraction 1/2;
}

.bloc-three-half {
  sstm-grid: fraction 3/2;
}

.bloc-one-third {
  sstm-grid: fraction 1/3;
}

.bloc-two-third {
  sstm-grid: fraction 2/3;
}

.bloc-one-fourth {
  sstm-grid: fraction 1/4;
}

.bloc-three-fourth {
  sstm-grid: fraction 3/4;
}

.bloc-five-fourth {
  sstm-grid: fraction 5/4;
}

@sstm-grid-media 1 {
  .bloc-1-1 {
    sstm-grid: bloc 1;
  }

  .bloc-1-2 {
    sstm-grid: bloc 2;
  }

  .bloc-1-2-1 {
    sstm-grid: bloc 2-1;
  }

  .bloc-1-2-2 {
    sstm-grid: bloc 2-2;
  }

  .bloc-1-2-3 {
    sstm-grid: bloc 2-3;
  }

  .bloc-1-2-4 {
    sstm-grid: bloc 2-4;
  }

  .bloc-1-2-5 {
    sstm-grid: bloc 2-5;
  }

  .bloc-1-2-6 {
    sstm-grid: bloc 2-6;
  }

  .bloc-1-3 {
    sstm-grid: bloc 3;
  }

  .bloc-1-3-1 {
    sstm-grid: bloc 3-1;
  }

  .bloc-1-3-2 {
    sstm-grid: bloc 3-2;
  }

  .bloc-1-3-3 {
    sstm-grid: bloc 3-3;
  }

  .bloc-1-3-4 {
    sstm-grid: bloc 3-4;
  }

  .bloc-1-3-5 {
    sstm-grid: bloc 3-5;
  }

  .bloc-1-4 {
    sstm-grid: bloc 4;
  }

  .bloc-1-4-1 {
    sstm-grid: bloc 4-1;
  }

  .bloc-1-4-2 {
    sstm-grid: bloc 4-2;
  }

  .bloc-1-4-3 {
    sstm-grid: bloc 4-3;
  }

  .bloc-1-4-4 {
    sstm-grid: bloc 4-4;
  }

  .bloc-1-5 {
    sstm-grid: bloc 5;
  }

  .bloc-1-5-1 {
    sstm-grid: bloc 5-1;
  }

  .bloc-1-5-2 {
    sstm-grid: bloc 5-2;
  }

  .bloc-1-5-3 {
    sstm-grid: bloc 5-3;
  }

  .bloc-1-6 {
    sstm-grid: bloc 6;
  }

  .bloc-1-6-1 {
    sstm-grid: bloc 6-1;
  }

  .bloc-1-6-2 {
    sstm-grid: bloc 6-2;
  }

  .bloc-1-7 {
    sstm-grid: bloc 7;
  }

  .bloc-1-7-1 {
    sstm-grid: bloc 7-1;
  }

  .bloc-1-8 {
    sstm-grid: bloc 8;
  }
}

@sstm-grid-media 2 {
  .bloc-2-1 {
    sstm-grid: bloc 1;
  }

  .bloc-2-2 {
    sstm-grid: bloc 2;
  }

  .bloc-2-2-1 {
    sstm-grid: bloc 2-1;
  }

  .bloc-2-2-2 {
    sstm-grid: bloc 2-2;
  }

  .bloc-2-2-3 {
    sstm-grid: bloc 2-3;
  }

  .bloc-2-2-4 {
    sstm-grid: bloc 2-4;
  }

  .bloc-2-2-5 {
    sstm-grid: bloc 2-5;
  }

  .bloc-2-2-6 {
    sstm-grid: bloc 2-6;
  }

  .bloc-2-3 {
    sstm-grid: bloc 3;
  }

  .bloc-2-3-1 {
    sstm-grid: bloc 3-1;
  }

  .bloc-2-3-2 {
    sstm-grid: bloc 3-2;
  }

  .bloc-2-3-3 {
    sstm-grid: bloc 3-3;
  }

  .bloc-2-3-4 {
    sstm-grid: bloc 3-4;
  }

  .bloc-2-3-5 {
    sstm-grid: bloc 3-5;
  }

  .bloc-2-4 {
    sstm-grid: bloc 4;
  }

  .bloc-2-4-1 {
    sstm-grid: bloc 4-1;
  }

  .bloc-2-4-2 {
    sstm-grid: bloc 4-2;
  }

  .bloc-2-4-3 {
    sstm-grid: bloc 4-3;
  }

  .bloc-2-4-4 {
    sstm-grid: bloc 4-4;
  }

  .bloc-2-5 {
    sstm-grid: bloc 5;
  }

  .bloc-2-5-1 {
    sstm-grid: bloc 5-1;
  }

  .bloc-2-5-2 {
    sstm-grid: bloc 5-2;
  }

  .bloc-2-5-3 {
    sstm-grid: bloc 5-3;
  }

  .bloc-2-6 {
    sstm-grid: bloc 6;
  }

  .bloc-2-6-1 {
    sstm-grid: bloc 6-1;
  }

  .bloc-2-6-2 {
    sstm-grid: bloc 6-2;
  }

  .bloc-2-7 {
    sstm-grid: bloc 7;
  }

  .bloc-2-7-1 {
    sstm-grid: bloc 7-1;
  }

  .bloc-2-8 {
    sstm-grid: bloc 8;
  }
}

@sstm-grid-media 3 {
  .bloc-3-1 {
    sstm-grid: bloc 1;
  }

  .bloc-3-2 {
    sstm-grid: bloc 2;
  }

  .bloc-3-2-1 {
    sstm-grid: bloc 2-1;
  }

  .bloc-3-2-2 {
    sstm-grid: bloc 2-2;
  }

  .bloc-3-2-3 {
    sstm-grid: bloc 2-3;
  }

  .bloc-3-2-4 {
    sstm-grid: bloc 2-4;
  }

  .bloc-3-2-5 {
    sstm-grid: bloc 2-5;
  }

  .bloc-3-2-6 {
    sstm-grid: bloc 2-6;
  }

  .bloc-3-3 {
    sstm-grid: bloc 3;
  }

  .bloc-3-3-1 {
    sstm-grid: bloc 3-1;
  }

  .bloc-3-3-2 {
    sstm-grid: bloc 3-2;
  }

  .bloc-3-3-3 {
    sstm-grid: bloc 3-3;
  }

  .bloc-3-3-4 {
    sstm-grid: bloc 3-4;
  }

  .bloc-3-3-5 {
    sstm-grid: bloc 3-5;
  }

  .bloc-3-4 {
    sstm-grid: bloc 4;
  }

  .bloc-3-4-1 {
    sstm-grid: bloc 4-1;
  }

  .bloc-3-4-2 {
    sstm-grid: bloc 4-2;
  }

  .bloc-3-4-3 {
    sstm-grid: bloc 4-3;
  }

  .bloc-3-4-4 {
    sstm-grid: bloc 4-4;
  }

  .bloc-3-5 {
    sstm-grid: bloc 5;
  }

  .bloc-3-5-1 {
    sstm-grid: bloc 5-1;
  }

  .bloc-3-5-2 {
    sstm-grid: bloc 5-2;
  }

  .bloc-3-5-3 {
    sstm-grid: bloc 5-3;
  }

  .bloc-3-6 {
    sstm-grid: bloc 6;
  }

  .bloc-3-6-1 {
    sstm-grid: bloc 6-1;
  }

  .bloc-3-6-2 {
    sstm-grid: bloc 6-2;
  }

  .bloc-3-7 {
    sstm-grid: bloc 7;
  }

  .bloc-3-7-1 {
    sstm-grid: bloc 7-1;
  }

  .bloc-3-8 {
    sstm-grid: bloc 8;
  }
}

@sstm-grid-media 4 {
  .bloc-4-1 {
    sstm-grid: bloc 1;
  }

  .bloc-4-2 {
    sstm-grid: bloc 2;
  }

  .bloc-4-2-1 {
    sstm-grid: bloc 2-1;
  }

  .bloc-4-2-2 {
    sstm-grid: bloc 2-2;
  }

  .bloc-4-2-3 {
    sstm-grid: bloc 2-3;
  }

  .bloc-4-2-4 {
    sstm-grid: bloc 2-4;
  }

  .bloc-4-2-5 {
    sstm-grid: bloc 2-5;
  }

  .bloc-4-2-6 {
    sstm-grid: bloc 2-6;
  }

  .bloc-4-3 {
    sstm-grid: bloc 3;
  }

  .bloc-4-3-1 {
    sstm-grid: bloc 3-1;
  }

  .bloc-4-3-2 {
    sstm-grid: bloc 3-2;
  }

  .bloc-4-3-3 {
    sstm-grid: bloc 3-3;
  }

  .bloc-4-3-4 {
    sstm-grid: bloc 3-4;
  }

  .bloc-4-3-5 {
    sstm-grid: bloc 3-5;
  }

  .bloc-4-4 {
    sstm-grid: bloc 4;
  }

  .bloc-4-4-1 {
    sstm-grid: bloc 4-1;
  }

  .bloc-4-4-2 {
    sstm-grid: bloc 4-2;
  }

  .bloc-4-4-3 {
    sstm-grid: bloc 4-3;
  }

  .bloc-4-4-4 {
    sstm-grid: bloc 4-4;
  }

  .bloc-4-5 {
    sstm-grid: bloc 5;
  }

  .bloc-4-5-1 {
    sstm-grid: bloc 5-1;
  }

  .bloc-4-5-2 {
    sstm-grid: bloc 5-2;
  }

  .bloc-4-5-3 {
    sstm-grid: bloc 5-3;
  }

  .bloc-4-6 {
    sstm-grid: bloc 6;
  }

  .bloc-4-6-1 {
    sstm-grid: bloc 6-1;
  }

  .bloc-4-6-2 {
    sstm-grid: bloc 6-2;
  }

  .bloc-4-7 {
    sstm-grid: bloc 7;
  }

  .bloc-4-7-1 {
    sstm-grid: bloc 7-1;
  }

  .bloc-4-8 {
    sstm-grid: bloc 8;
  }
}

@sstm-grid-media 5 {
  .bloc-5-1 {
    sstm-grid: bloc 1;
  }

  .bloc-5-2 {
    sstm-grid: bloc 2;
  }

  .bloc-5-2-1 {
    sstm-grid: bloc 2-1;
  }

  .bloc-5-2-2 {
    sstm-grid: bloc 2-2;
  }

  .bloc-5-2-3 {
    sstm-grid: bloc 2-3;
  }

  .bloc-5-2-4 {
    sstm-grid: bloc 2-4;
  }

  .bloc-5-2-5 {
    sstm-grid: bloc 2-5;
  }

  .bloc-5-2-6 {
    sstm-grid: bloc 2-6;
  }

  .bloc-5-3 {
    sstm-grid: bloc 3;
  }

  .bloc-5-3-1 {
    sstm-grid: bloc 3-1;
  }

  .bloc-5-3-2 {
    sstm-grid: bloc 3-2;
  }

  .bloc-5-3-3 {
    sstm-grid: bloc 3-3;
  }

  .bloc-5-3-4 {
    sstm-grid: bloc 3-4;
  }

  .bloc-5-3-5 {
    sstm-grid: bloc 3-5;
  }

  .bloc-5-4 {
    sstm-grid: bloc 4;
  }

  .bloc-5-4-1 {
    sstm-grid: bloc 4-1;
  }

  .bloc-5-4-2 {
    sstm-grid: bloc 4-2;
  }

  .bloc-5-4-3 {
    sstm-grid: bloc 4-3;
  }

  .bloc-5-4-4 {
    sstm-grid: bloc 4-4;
  }

  .bloc-5-5 {
    sstm-grid: bloc 5;
  }

  .bloc-5-5-1 {
    sstm-grid: bloc 5-1;
  }

  .bloc-5-5-2 {
    sstm-grid: bloc 5-2;
  }

  .bloc-5-5-3 {
    sstm-grid: bloc 5-3;
  }

  .bloc-5-6 {
    sstm-grid: bloc 6;
  }

  .bloc-5-6-1 {
    sstm-grid: bloc 6-1;
  }

  .bloc-5-6-2 {
    sstm-grid: bloc 6-2;
  }

  .bloc-5-7 {
    sstm-grid: bloc 7;
  }

  .bloc-5-7-1 {
    sstm-grid: bloc 7-1;
  }

  .bloc-5-8 {
    sstm-grid: bloc 8;
  }
}

@sstm-grid-media 6 {
  .bloc-6-1 {
    sstm-grid: bloc 1;
  }

  .bloc-6-2 {
    sstm-grid: bloc 2;
  }

  .bloc-6-2-1 {
    sstm-grid: bloc 2-1;
  }

  .bloc-6-2-2 {
    sstm-grid: bloc 2-2;
  }

  .bloc-6-2-3 {
    sstm-grid: bloc 2-3;
  }

  .bloc-6-2-4 {
    sstm-grid: bloc 2-4;
  }

  .bloc-6-2-5 {
    sstm-grid: bloc 2-5;
  }

  .bloc-6-2-6 {
    sstm-grid: bloc 2-6;
  }

  .bloc-6-3 {
    sstm-grid: bloc 3;
  }

  .bloc-6-3-1 {
    sstm-grid: bloc 3-1;
  }

  .bloc-6-3-2 {
    sstm-grid: bloc 3-2;
  }

  .bloc-6-3-3 {
    sstm-grid: bloc 3-3;
  }

  .bloc-6-3-4 {
    sstm-grid: bloc 3-4;
  }

  .bloc-6-3-5 {
    sstm-grid: bloc 3-5;
  }

  .bloc-6-4 {
    sstm-grid: bloc 4;
  }

  .bloc-6-4-1 {
    sstm-grid: bloc 4-1;
  }

  .bloc-6-4-2 {
    sstm-grid: bloc 4-2;
  }

  .bloc-6-4-3 {
    sstm-grid: bloc 4-3;
  }

  .bloc-6-4-4 {
    sstm-grid: bloc 4-4;
  }

  .bloc-6-5 {
    sstm-grid: bloc 5;
  }

  .bloc-6-5-1 {
    sstm-grid: bloc 5-1;
  }

  .bloc-6-5-2 {
    sstm-grid: bloc 5-2;
  }

  .bloc-6-5-3 {
    sstm-grid: bloc 5-3;
  }

  .bloc-6-6 {
    sstm-grid: bloc 6;
  }

  .bloc-6-6-1 {
    sstm-grid: bloc 6-1;
  }

  .bloc-6-6-2 {
    sstm-grid: bloc 6-2;
  }

  .bloc-6-7 {
    sstm-grid: bloc 7;
  }

  .bloc-6-7-1 {
    sstm-grid: bloc 7-1;
  }

  .bloc-6-8 {
    sstm-grid: bloc 8;
  }
}

@sstm-grid-media 7 {
  .bloc-7-1 {
    sstm-grid: bloc 1;
  }

  .bloc-7-2 {
    sstm-grid: bloc 2;
  }

  .bloc-7-2-1 {
    sstm-grid: bloc 2-1;
  }

  .bloc-7-2-2 {
    sstm-grid: bloc 2-2;
  }

  .bloc-7-2-3 {
    sstm-grid: bloc 2-3;
  }

  .bloc-7-2-4 {
    sstm-grid: bloc 2-4;
  }

  .bloc-7-2-5 {
    sstm-grid: bloc 2-5;
  }

  .bloc-7-2-6 {
    sstm-grid: bloc 2-6;
  }

  .bloc-7-3 {
    sstm-grid: bloc 3;
  }

  .bloc-7-3-1 {
    sstm-grid: bloc 3-1;
  }

  .bloc-7-3-2 {
    sstm-grid: bloc 3-2;
  }

  .bloc-7-3-3 {
    sstm-grid: bloc 3-3;
  }

  .bloc-7-3-4 {
    sstm-grid: bloc 3-4;
  }

  .bloc-7-3-5 {
    sstm-grid: bloc 3-5;
  }

  .bloc-7-4 {
    sstm-grid: bloc 4;
  }

  .bloc-7-4-1 {
    sstm-grid: bloc 4-1;
  }

  .bloc-7-4-2 {
    sstm-grid: bloc 4-2;
  }

  .bloc-7-4-3 {
    sstm-grid: bloc 4-3;
  }

  .bloc-7-4-4 {
    sstm-grid: bloc 4-4;
  }

  .bloc-7-5 {
    sstm-grid: bloc 5;
  }

  .bloc-7-5-1 {
    sstm-grid: bloc 5-1;
  }

  .bloc-7-5-2 {
    sstm-grid: bloc 5-2;
  }

  .bloc-7-5-3 {
    sstm-grid: bloc 5-3;
  }

  .bloc-7-6 {
    sstm-grid: bloc 6;
  }

  .bloc-7-6-1 {
    sstm-grid: bloc 6-1;
  }

  .bloc-7-6-2 {
    sstm-grid: bloc 6-2;
  }

  .bloc-7-7 {
    sstm-grid: bloc 7;
  }

  .bloc-7-7-1 {
    sstm-grid: bloc 7-1;
  }

  .bloc-7-8 {
    sstm-grid: bloc 8;
  }
}

@sstm-grid-media 8 {
  .bloc-8-1 {
    sstm-grid: bloc 1;
  }

  .bloc-8-2 {
    sstm-grid: bloc 2;
  }

  .bloc-8-2-1 {
    sstm-grid: bloc 2-1;
  }

  .bloc-8-2-2 {
    sstm-grid: bloc 2-2;
  }

  .bloc-8-2-3 {
    sstm-grid: bloc 2-3;
  }

  .bloc-8-2-4 {
    sstm-grid: bloc 2-4;
  }

  .bloc-8-2-5 {
    sstm-grid: bloc 2-5;
  }

  .bloc-8-2-6 {
    sstm-grid: bloc 2-6;
  }

  .bloc-8-3 {
    sstm-grid: bloc 3;
  }

  .bloc-8-3-1 {
    sstm-grid: bloc 3-1;
  }

  .bloc-8-3-2 {
    sstm-grid: bloc 3-2;
  }

  .bloc-8-3-3 {
    sstm-grid: bloc 3-3;
  }

  .bloc-8-3-4 {
    sstm-grid: bloc 3-4;
  }

  .bloc-8-3-5 {
    sstm-grid: bloc 3-5;
  }

  .bloc-8-4 {
    sstm-grid: bloc 4;
  }

  .bloc-8-4-1 {
    sstm-grid: bloc 4-1;
  }

  .bloc-8-4-2 {
    sstm-grid: bloc 4-2;
  }

  .bloc-8-4-3 {
    sstm-grid: bloc 4-3;
  }

  .bloc-8-4-4 {
    sstm-grid: bloc 4-4;
  }

  .bloc-8-5 {
    sstm-grid: bloc 5;
  }

  .bloc-8-5-1 {
    sstm-grid: bloc 5-1;
  }

  .bloc-8-5-2 {
    sstm-grid: bloc 5-2;
  }

  .bloc-8-5-3 {
    sstm-grid: bloc 5-3;
  }

  .bloc-8-6 {
    sstm-grid: bloc 6;
  }

  .bloc-8-6-1 {
    sstm-grid: bloc 6-1;
  }

  .bloc-8-6-2 {
    sstm-grid: bloc 6-2;
  }

  .bloc-8-7 {
    sstm-grid: bloc 7;
  }

  .bloc-8-7-1 {
    sstm-grid: bloc 7-1;
  }

  .bloc-8-8 {
    sstm-grid: bloc 8;
  }
}
@sstm-grid-media 1 {
  .columns-1-1 {
    sstm-grid: columns 1;
  }

  .columns-1-2 {
    sstm-grid: columns 2;
  }

  .columns-1-2-1 {
    sstm-grid: columns 2-1;
  }

  .columns-1-2-2 {
    sstm-grid: columns 2-2;
  }

  .columns-1-2-3 {
    sstm-grid: columns 2-3;
  }

  .columns-1-2-4 {
    sstm-grid: columns 2-4;
  }

  .columns-1-2-5 {
    sstm-grid: columns 2-5;
  }

  .columns-1-2-6 {
    sstm-grid: columns 2-6;
  }

  .columns-1-3 {
    sstm-grid: columns 3;
  }

  .columns-1-3-1 {
    sstm-grid: columns 3-1;
  }

  .columns-1-3-2 {
    sstm-grid: columns 3-2;
  }

  .columns-1-3-3 {
    sstm-grid: columns 3-3;
  }

  .columns-1-3-4 {
    sstm-grid: columns 3-4;
  }

  .columns-1-3-5 {
    sstm-grid: columns 3-5;
  }

  .columns-1-4 {
    sstm-grid: columns 4;
  }

  .columns-1-4-1 {
    sstm-grid: columns 4-1;
  }

  .columns-1-4-2 {
    sstm-grid: columns 4-2;
  }

  .columns-1-4-3 {
    sstm-grid: columns 4-3;
  }

  .columns-1-4-4 {
    sstm-grid: columns 4-4;
  }

  .columns-1-5 {
    sstm-grid: columns 5;
  }

  .columns-1-5-1 {
    sstm-grid: columns 5-1;
  }

  .columns-1-5-2 {
    sstm-grid: columns 5-2;
  }

  .columns-1-5-3 {
    sstm-grid: columns 5-3;
  }

  .columns-1-6 {
    sstm-grid: columns 6;
  }

  .columns-1-6-1 {
    sstm-grid: columns 6-1;
  }

  .columns-1-6-2 {
    sstm-grid: columns 6-2;
  }

  .columns-1-7 {
    sstm-grid: columns 7;
  }

  .columns-1-7-1 {
    sstm-grid: columns 7-1;
  }

  .columns-1-8 {
    sstm-grid: columns 8;
  }
}

@sstm-grid-media 2 {
  .columns-2-1 {
    sstm-grid: columns 1;
  }

  .columns-2-2 {
    sstm-grid: columns 2;
  }

  .columns-2-2-1 {
    sstm-grid: columns 2-1;
  }

  .columns-2-2-2 {
    sstm-grid: columns 2-2;
  }

  .columns-2-2-3 {
    sstm-grid: columns 2-3;
  }

  .columns-2-2-4 {
    sstm-grid: columns 2-4;
  }

  .columns-2-2-5 {
    sstm-grid: columns 2-5;
  }

  .columns-2-2-6 {
    sstm-grid: columns 2-6;
  }

  .columns-2-3 {
    sstm-grid: columns 3;
  }

  .columns-2-3-1 {
    sstm-grid: columns 3-1;
  }

  .columns-2-3-2 {
    sstm-grid: columns 3-2;
  }

  .columns-2-3-3 {
    sstm-grid: columns 3-3;
  }

  .columns-2-3-4 {
    sstm-grid: columns 3-4;
  }

  .columns-2-3-5 {
    sstm-grid: columns 3-5;
  }

  .columns-2-4 {
    sstm-grid: columns 4;
  }

  .columns-2-4-1 {
    sstm-grid: columns 4-1;
  }

  .columns-2-4-2 {
    sstm-grid: columns 4-2;
  }

  .columns-2-4-3 {
    sstm-grid: columns 4-3;
  }

  .columns-2-4-4 {
    sstm-grid: columns 4-4;
  }

  .columns-2-5 {
    sstm-grid: columns 5;
  }

  .columns-2-5-1 {
    sstm-grid: columns 5-1;
  }

  .columns-2-5-2 {
    sstm-grid: columns 5-2;
  }

  .columns-2-5-3 {
    sstm-grid: columns 5-3;
  }

  .columns-2-6 {
    sstm-grid: columns 6;
  }

  .columns-2-6-1 {
    sstm-grid: columns 6-1;
  }

  .columns-2-6-2 {
    sstm-grid: columns 6-2;
  }

  .columns-2-7 {
    sstm-grid: columns 7;
  }

  .columns-2-7-1 {
    sstm-grid: columns 7-1;
  }

  .columns-2-8 {
    sstm-grid: columns 8;
  }
}

@sstm-grid-media 3 {
  .columns-3-1 {
    sstm-grid: columns 1;
  }

  .columns-3-2 {
    sstm-grid: columns 2;
  }

  .columns-3-2-1 {
    sstm-grid: columns 2-1;
  }

  .columns-3-2-2 {
    sstm-grid: columns 2-2;
  }

  .columns-3-2-3 {
    sstm-grid: columns 2-3;
  }

  .columns-3-2-4 {
    sstm-grid: columns 2-4;
  }

  .columns-3-2-5 {
    sstm-grid: columns 2-5;
  }

  .columns-3-2-6 {
    sstm-grid: columns 2-6;
  }

  .columns-3-3 {
    sstm-grid: columns 3;
  }

  .columns-3-3-1 {
    sstm-grid: columns 3-1;
  }

  .columns-3-3-2 {
    sstm-grid: columns 3-2;
  }

  .columns-3-3-3 {
    sstm-grid: columns 3-3;
  }

  .columns-3-3-4 {
    sstm-grid: columns 3-4;
  }

  .columns-3-3-5 {
    sstm-grid: columns 3-5;
  }

  .columns-3-4 {
    sstm-grid: columns 4;
  }

  .columns-3-4-1 {
    sstm-grid: columns 4-1;
  }

  .columns-3-4-2 {
    sstm-grid: columns 4-2;
  }

  .columns-3-4-3 {
    sstm-grid: columns 4-3;
  }

  .columns-3-4-4 {
    sstm-grid: columns 4-4;
  }

  .columns-3-5 {
    sstm-grid: columns 5;
  }

  .columns-3-5-1 {
    sstm-grid: columns 5-1;
  }

  .columns-3-5-2 {
    sstm-grid: columns 5-2;
  }

  .columns-3-5-3 {
    sstm-grid: columns 5-3;
  }

  .columns-3-6 {
    sstm-grid: columns 6;
  }

  .columns-3-6-1 {
    sstm-grid: columns 6-1;
  }

  .columns-3-6-2 {
    sstm-grid: columns 6-2;
  }

  .columns-3-7 {
    sstm-grid: columns 7;
  }

  .columns-3-7-1 {
    sstm-grid: columns 7-1;
  }

  .columns-3-8 {
    sstm-grid: columns 8;
  }
}

@sstm-grid-media 4 {
  .columns-4-1 {
    sstm-grid: columns 1;
  }

  .columns-4-2 {
    sstm-grid: columns 2;
  }

  .columns-4-2-1 {
    sstm-grid: columns 2-1;
  }

  .columns-4-2-2 {
    sstm-grid: columns 2-2;
  }

  .columns-4-2-3 {
    sstm-grid: columns 2-3;
  }

  .columns-4-2-4 {
    sstm-grid: columns 2-4;
  }

  .columns-4-2-5 {
    sstm-grid: columns 2-5;
  }

  .columns-4-2-6 {
    sstm-grid: columns 2-6;
  }

  .columns-4-3 {
    sstm-grid: columns 3;
  }

  .columns-4-3-1 {
    sstm-grid: columns 3-1;
  }

  .columns-4-3-2 {
    sstm-grid: columns 3-2;
  }

  .columns-4-3-3 {
    sstm-grid: columns 3-3;
  }

  .columns-4-3-4 {
    sstm-grid: columns 3-4;
  }

  .columns-4-3-5 {
    sstm-grid: columns 3-5;
  }

  .columns-4-4 {
    sstm-grid: columns 4;
  }

  .columns-4-4-1 {
    sstm-grid: columns 4-1;
  }

  .columns-4-4-2 {
    sstm-grid: columns 4-2;
  }

  .columns-4-4-3 {
    sstm-grid: columns 4-3;
  }

  .columns-4-4-4 {
    sstm-grid: columns 4-4;
  }

  .columns-4-5 {
    sstm-grid: columns 5;
  }

  .columns-4-5-1 {
    sstm-grid: columns 5-1;
  }

  .columns-4-5-2 {
    sstm-grid: columns 5-2;
  }

  .columns-4-5-3 {
    sstm-grid: columns 5-3;
  }

  .columns-4-6 {
    sstm-grid: columns 6;
  }

  .columns-4-6-1 {
    sstm-grid: columns 6-1;
  }

  .columns-4-6-2 {
    sstm-grid: columns 6-2;
  }

  .columns-4-7 {
    sstm-grid: columns 7;
  }

  .columns-4-7-1 {
    sstm-grid: columns 7-1;
  }

  .columns-4-8 {
    sstm-grid: columns 8;
  }
}

@sstm-grid-media 5 {
  .columns-5-1 {
    sstm-grid: columns 1;
  }

  .columns-5-2 {
    sstm-grid: columns 2;
  }

  .columns-5-2-1 {
    sstm-grid: columns 2-1;
  }

  .columns-5-2-2 {
    sstm-grid: columns 2-2;
  }

  .columns-5-2-3 {
    sstm-grid: columns 2-3;
  }

  .columns-5-2-4 {
    sstm-grid: columns 2-4;
  }

  .columns-5-2-5 {
    sstm-grid: columns 2-5;
  }

  .columns-5-2-6 {
    sstm-grid: columns 2-6;
  }

  .columns-5-3 {
    sstm-grid: columns 3;
  }

  .columns-5-3-1 {
    sstm-grid: columns 3-1;
  }

  .columns-5-3-2 {
    sstm-grid: columns 3-2;
  }

  .columns-5-3-3 {
    sstm-grid: columns 3-3;
  }

  .columns-5-3-4 {
    sstm-grid: columns 3-4;
  }

  .columns-5-3-5 {
    sstm-grid: columns 3-5;
  }

  .columns-5-4 {
    sstm-grid: columns 4;
  }

  .columns-5-4-1 {
    sstm-grid: columns 4-1;
  }

  .columns-5-4-2 {
    sstm-grid: columns 4-2;
  }

  .columns-5-4-3 {
    sstm-grid: columns 4-3;
  }

  .columns-5-4-4 {
    sstm-grid: columns 4-4;
  }

  .columns-5-5 {
    sstm-grid: columns 5;
  }

  .columns-5-5-1 {
    sstm-grid: columns 5-1;
  }

  .columns-5-5-2 {
    sstm-grid: columns 5-2;
  }

  .columns-5-5-3 {
    sstm-grid: columns 5-3;
  }

  .columns-5-6 {
    sstm-grid: columns 6;
  }

  .columns-5-6-1 {
    sstm-grid: columns 6-1;
  }

  .columns-5-6-2 {
    sstm-grid: columns 6-2;
  }

  .columns-5-7 {
    sstm-grid: columns 7;
  }

  .columns-5-7-1 {
    sstm-grid: columns 7-1;
  }

  .columns-5-8 {
    sstm-grid: columns 8;
  }
}

@sstm-grid-media 6 {
  .columns-6-1 {
    sstm-grid: columns 1;
  }

  .columns-6-2 {
    sstm-grid: columns 2;
  }

  .columns-6-2-1 {
    sstm-grid: columns 2-1;
  }

  .columns-6-2-2 {
    sstm-grid: columns 2-2;
  }

  .columns-6-2-3 {
    sstm-grid: columns 2-3;
  }

  .columns-6-2-4 {
    sstm-grid: columns 2-4;
  }

  .columns-6-2-5 {
    sstm-grid: columns 2-5;
  }

  .columns-6-2-6 {
    sstm-grid: columns 2-6;
  }

  .columns-6-3 {
    sstm-grid: columns 3;
  }

  .columns-6-3-1 {
    sstm-grid: columns 3-1;
  }

  .columns-6-3-2 {
    sstm-grid: columns 3-2;
  }

  .columns-6-3-3 {
    sstm-grid: columns 3-3;
  }

  .columns-6-3-4 {
    sstm-grid: columns 3-4;
  }

  .columns-6-3-5 {
    sstm-grid: columns 3-5;
  }

  .columns-6-4 {
    sstm-grid: columns 4;
  }

  .columns-6-4-1 {
    sstm-grid: columns 4-1;
  }

  .columns-6-4-2 {
    sstm-grid: columns 4-2;
  }

  .columns-6-4-3 {
    sstm-grid: columns 4-3;
  }

  .columns-6-4-4 {
    sstm-grid: columns 4-4;
  }

  .columns-6-5 {
    sstm-grid: columns 5;
  }

  .columns-6-5-1 {
    sstm-grid: columns 5-1;
  }

  .columns-6-5-2 {
    sstm-grid: columns 5-2;
  }

  .columns-6-5-3 {
    sstm-grid: columns 5-3;
  }

  .columns-6-6 {
    sstm-grid: columns 6;
  }

  .columns-6-6-1 {
    sstm-grid: columns 6-1;
  }

  .columns-6-6-2 {
    sstm-grid: columns 6-2;
  }

  .columns-6-7 {
    sstm-grid: columns 7;
  }

  .columns-6-7-1 {
    sstm-grid: columns 7-1;
  }

  .columns-6-8 {
    sstm-grid: columns 8;
  }
}

@sstm-grid-media 7 {
  .columns-7-1 {
    sstm-grid: columns 1;
  }

  .columns-7-2 {
    sstm-grid: columns 2;
  }

  .columns-7-2-1 {
    sstm-grid: columns 2-1;
  }

  .columns-7-2-2 {
    sstm-grid: columns 2-2;
  }

  .columns-7-2-3 {
    sstm-grid: columns 2-3;
  }

  .columns-7-2-4 {
    sstm-grid: columns 2-4;
  }

  .columns-7-2-5 {
    sstm-grid: columns 2-5;
  }

  .columns-7-2-6 {
    sstm-grid: columns 2-6;
  }

  .columns-7-3 {
    sstm-grid: columns 3;
  }

  .columns-7-3-1 {
    sstm-grid: columns 3-1;
  }

  .columns-7-3-2 {
    sstm-grid: columns 3-2;
  }

  .columns-7-3-3 {
    sstm-grid: columns 3-3;
  }

  .columns-7-3-4 {
    sstm-grid: columns 3-4;
  }

  .columns-7-3-5 {
    sstm-grid: columns 3-5;
  }

  .columns-7-4 {
    sstm-grid: columns 4;
  }

  .columns-7-4-1 {
    sstm-grid: columns 4-1;
  }

  .columns-7-4-2 {
    sstm-grid: columns 4-2;
  }

  .columns-7-4-3 {
    sstm-grid: columns 4-3;
  }

  .columns-7-4-4 {
    sstm-grid: columns 4-4;
  }

  .columns-7-5 {
    sstm-grid: columns 5;
  }

  .columns-7-5-1 {
    sstm-grid: columns 5-1;
  }

  .columns-7-5-2 {
    sstm-grid: columns 5-2;
  }

  .columns-7-5-3 {
    sstm-grid: columns 5-3;
  }

  .columns-7-6 {
    sstm-grid: columns 6;
  }

  .columns-7-6-1 {
    sstm-grid: columns 6-1;
  }

  .columns-7-6-2 {
    sstm-grid: columns 6-2;
  }

  .columns-7-7 {
    sstm-grid: columns 7;
  }

  .columns-7-7-1 {
    sstm-grid: columns 7-1;
  }

  .columns-7-8 {
    sstm-grid: columns 8;
  }
}

@sstm-grid-media 8 {
  .columns-8-1 {
    sstm-grid: columns 1;
  }

  .columns-8-2 {
    sstm-grid: columns 2;
  }

  .columns-8-2-1 {
    sstm-grid: columns 2-1;
  }

  .columns-8-2-2 {
    sstm-grid: columns 2-2;
  }

  .columns-8-2-3 {
    sstm-grid: columns 2-3;
  }

  .columns-8-2-4 {
    sstm-grid: columns 2-4;
  }

  .columns-8-2-5 {
    sstm-grid: columns 2-5;
  }

  .columns-8-2-6 {
    sstm-grid: columns 2-6;
  }

  .columns-8-3 {
    sstm-grid: columns 3;
  }

  .columns-8-3-1 {
    sstm-grid: columns 3-1;
  }

  .columns-8-3-2 {
    sstm-grid: columns 3-2;
  }

  .columns-8-3-3 {
    sstm-grid: columns 3-3;
  }

  .columns-8-3-4 {
    sstm-grid: columns 3-4;
  }

  .columns-8-3-5 {
    sstm-grid: columns 3-5;
  }

  .columns-8-4 {
    sstm-grid: columns 4;
  }

  .columns-8-4-1 {
    sstm-grid: columns 4-1;
  }

  .columns-8-4-2 {
    sstm-grid: columns 4-2;
  }

  .columns-8-4-3 {
    sstm-grid: columns 4-3;
  }

  .columns-8-4-4 {
    sstm-grid: columns 4-4;
  }

  .columns-8-5 {
    sstm-grid: columns 5;
  }

  .columns-8-5-1 {
    sstm-grid: columns 5-1;
  }

  .columns-8-5-2 {
    sstm-grid: columns 5-2;
  }

  .columns-8-5-3 {
    sstm-grid: columns 5-3;
  }

  .columns-8-6 {
    sstm-grid: columns 6;
  }

  .columns-8-6-1 {
    sstm-grid: columns 6-1;
  }

  .columns-8-6-2 {
    sstm-grid: columns 6-2;
  }

  .columns-8-7 {
    sstm-grid: columns 7;
  }

  .columns-8-7-1 {
    sstm-grid: columns 7-1;
  }

  .columns-8-8 {
    sstm-grid: columns 8;
  }
}

@sstm-grid-media 0 {
  .custom {
    background-color: plum;
    color: white;
  }
}

@sstm-grid-media 1 {
  .show-1 {
    display: block;
    visibility: visible;
  }

  .hide-1 {
    display: none;
    visibility: hidden;
  }

  .custom {
    background-color: palegreen;
    color: silver;
  }
}

@sstm-grid-media 2 {
  .show-2 {
    display: block;
    visibility: visible;
  }

  .hide-2 {
    display: none;
    visibility: hidden;
  }

  .custom {
    background-color: deeppink;
    color: white;
  }
}

@sstm-grid-media 3 {
  .show-3 { 
    display: block;
    visibility: visible;
  }

  .hide-3 { 
    display: none;
    visibility: hidden;
  }

  .custom {
    background-color: orangered;
    color: silver;
  }
}

@sstm-grid-media 4 {
  .show-4 { 
    display: block;
    visibility: visible;
  }

  .hide-4 { 
    display: none;
    visibility: hidden;
  }

  .custom {
    background-color: dodgerblue;
    color: white;
  }
}

@sstm-grid-media 5 {
  .show-5 { 
    display: block;
    visibility: visible;
  }

  .hide-5 { 
    display: none;
    visibility: hidden;
  }

  .custom {
    background-color: lightcoral;
    color: silver;
  }
}

@sstm-grid-media 6 {
  .show-6 { 
    display: block;
    visibility: visible;
  }

  .hide-6 { 
    display: none;
    visibility: hidden;
  }

  .custom {
    background-color: gold;
    color: white;
  }
}

@sstm-grid-media 7 {
  .show-7 { 
    display: block;
    visibility: visible;
  }

  .hide-7 { 
    display: none;
    visibility: hidden;
  }
}

@sstm-grid-media 8 {
  .show-8 { 
    display: block;
    visibility: visible;
  }

  .hide-8 { 
    display: none;
    visibility: hidden;
  }

}
